
.jumbo-title{
  color: blue;
  text-align: center;
  background-color: lightblue;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 2.15rem;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex:2;
}

.output{

}

body{
  background-color: grey;
}
