
.jumbo-title{
  color: blue;
  text-align: center;
  background-color: lightblue;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 2.15rem;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex:2;
}

.output{

}

body{
  background-color: grey;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
