.contain{
  display: flex;

}
.jumbo-title{
  color: blue;
  text-align: center;
  background-color: lightblue;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 2.15rem;
}

.input{
  resize:none;
}

.output{

}
